<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ8moD7F-F9H36Q7GsGGlqMX1isz4W84WlX2rcZ2FZWyEiYLcWlZ7f3MXfxCbOSOj3G-g&usqp=CAU" alt="Instagram">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/1024px-LinkedIn_icon.svg.png" alt="Linkdin">
            
        </div>
        <div class="f-info-brand">&copy; RentMate Private Limited (NEERAJ CHAURASIYA )</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>