<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
    <h3 style="text-align: center; "> <u>Create a New Listing </u></h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-1">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" required
            />
            <div class="valid-feedback">Title Looks Good</div>
        </div>

        <div class="mb-1">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" class="form-control" required>
</textarea>
<div class="invalid-feedback">Please Enter the Short Valid Descriptions</div>
        </div>

        <div class="mb-1">
            <label for="image" class="form-label">Image Link</label>
            <input name="listing[image]" placeholder="Enter image URL/LINK" type="text" class="form-control" />
        </div>

        <div class="row"> 
            <div class="mb-1 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" placeholder="Enter price" class="form-control" required
                 />
                 <div class="invalid-feedback">Price shold be Valid</div>
            </div>

            <div class="mb-1 col-md-4">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required 
                />
                <div class="invalid-feedback">Country shold be Valid</div>
            </div>
    
            <div class="mb-4 col-md-4">
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required
                 />
                 <div class="invalid-feedback">Location shold be Valid</div>
            </div>
            
        </div>
        <div  style="text-align: center;">
            <button class="btn btn-dark add-btn ">Add</button> 
        </div>
        
    </form>
</div>
</div>
